:root {
  --primary-color: #800020;
  --secondary-color: #EADDCA;
  --tertiary-color: #A52A2A;
  --background-color: #f8e6f8;
  --white-color: #fff;
  --black-color: #000;
  --flower-gradient-start: #ff5e00;
  --flower-gradient-middle: #ffbb00;
  --flower-gradient-end: #fbd702;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --box-shadow-hover: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--background-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
  width: 100px;
  z-index: 3;
  position: fixed;
  right: 20px;
}

header {
  display: inline;
  padding: 10px;
  z-index: 1;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
  background-color: var(--primary-color);
  z-index: 2;
  transition: background-color 0.3s ease;
}

main.home {
  margin-top: 3%;
}

nav::after {
  color: var(--white-color);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-right: 10%;
  display: flex;
}

nav li {
  margin-right: 100px;
}

nav li:last-child {
  margin-right: 0;
}

a {
  color: var(--white-color);
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  background-color: var(--secondary-color);
}

.welcome {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  background-image: url('../images/purple-flower-7107429_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  color: var(--white-color);
  position: relative;
  z-index: 1;
}

.welcome::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 1;
}

.welcome > * {
  position: relative;
  z-index: 2;
}

.welcome-text {
  margin: 10px 10px;
}

.welcome h2 {
  font-size: 2rem;
}

.welcome-paragraph {
  font-style: italic;
  margin: 0 550px;
  line-height: 1.6;
  font-size: 1.2em;
}

.shop {
  border-radius: 10px;
  height: 50px;
  width: 160px;
  cursor: pointer;
  transition: background-image 0.3s ease;
  font-weight: bold;
  margin-top: 30px;
  background-color: var(--background-color);
}

.shop:hover {
  background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color), #8c57b1);
  color: var(--white-color);
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 20px 40px;
  padding: 0px;
}

.flex-container > div {
  margin: 1px;
  padding: 1px;
  text-align: center;
  width: 25%;
}

.flex-container img {
  width: 60px;
  height: 50px;
}

.flex-container h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.wonderful-gift {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.photo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.left-side, .middle-side, .right-side {
  margin: 0 10px;
}

img.purple {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.purple-bouquet {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: var(--white-color);
  border-style: hidden;
  box-shadow: 0 4px 8px var(--box-shadow-hover);
  transition: 0.3s;
  padding: 30px;
  z-index: 9;
}

.wonderful-gifts-section {
  text-align: center;
  max-width: 1900px;
  justify-content: center;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px var(--box-shadow-hover);
  transition: 0.3s;
  padding: 50px 20px;
}

.wonder-ful {
  margin-left: 700px;
  margin-right: 500px;
  text-align: center;
  left: 200px;
  right: 200px;
}

.wonderful-gifts-header, p {
  text-align: center;
  max-width: 600px;
  line-height: 1.6;
  font-size: 1.1em;
}

.wonderful-gifts-section:hover {
  box-shadow: 0 8px 16px var(--box-shadow-hover);
}

.flower {
  height: 100px;
  width: 200px;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: rotateFlower 10s linear infinite;
}

.mid {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, var(--black-color), var(--flower-gradient-start), var(--black-color));
  z-index: 4;
  background-size: 5px 5px;
  filter: drop-shadow(0 0 8px #682600);
}

.mission {
  padding: 50px 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.mission h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.mission p {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.Petal1 {
  position: absolute;
  left: 40px;
  z-index: 3;
  width: 120px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(circle, var(--flower-gradient-start), var(--flower-gradient-middle));
  filter: drop-shadow(0 0 5px #e05200);
}

.Petal1.p1 {
  transform: rotate(22.5deg);
}
.Petal1.p2 {
  transform: rotate(67.5deg);
}
.Petal1.p3 {
  transform: rotate(110.5deg);
}
.Petal1.p4 {
  transform: rotate(157.5deg);
}

.Petal2 {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 200px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(circle, var(--flower-gradient-start), var(--flower-gradient-end));
  filter: drop-shadow(0 0 5px #e05200);
}

.Petal2.p1 {
}
.Petal2.p2 {
  transform: rotate(90deg);
}
.Petal2.p3 {
  transform: rotate(45deg);
}
.Petal2.p4 {
  transform: rotate(135deg);
}

.Petal3 {
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 200px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(circle, var(--flower-gradient-start), var(--flower-gradient-end));
  filter: drop-shadow(0 0 2px #fbd702);
}

.Petal3.p1 {
  transform: rotate(22.5deg);
}
.Petal3.p2 {
  transform: rotate(67.5deg);
}
.Petal3.p3 {
  transform: rotate(110.5deg);
}
.Petal3.p4 {
  transform: rotate(157.5deg);
}

@keyframes rotateFlower {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-left: 5%;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: var(--primary-color);
  color: var(--white-color);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.button {
  background-color: var(--tertiary-color);
  color: var(--white-color);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.button:hover {
  background-color:var(--primary-color);
}

.prices-paragragh {
  margin: 0 auto;
}

#prices-header {
  margin: 0 auto;
  align-items: center;
  
}

hr {
  margin-top: 20px;
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}

.see-more {
  margin-top: 10px;
  margin-left: 800px;
}
.see-more:hover{
  background-color: var(--primary-color);
}
@media(max-width: 768px) {
  header {
      align-items: center;
      margin: 60px 20px;
  }
  .welcome {
      height: auto;
      padding: 20px 10px;
  }

  .welcome-text {
      margin: 60px 20px;
  }

  .welcome h2 {
      font-size: 1.5rem;
  }

  .welcome-paragraph {
      margin: 0 20px;
      font-size: 1.1em;
  }
}

@media(max-width: 768px){
  header{
    align-items: center;
    margin:60px 20px;
  }
  nav{
    
  }
  .welcome {
    height: auto; 
    padding: 20px 10px; 
}

.welcome-text {
    margin: 60px 20px; 
}

.welcome h2 {
    font-size: 1.5rem; 
}

.welcome-paragraph {
    margin: 0 20px; 
    font-size: 1.1em;
}
}

/* footer */

footer {
    background-color: #33006F;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}
footer p {
    margin: 0;
}
.social-links {
    margin-top: 10px;
}
.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
}
.social-links a:hover {
    color: #EE82EE;
}
.footer-nav {
    margin-top: 15px;
}
.footer-nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1rem;
}
.footer-nav a:hover {
    color: #EE82EE;
}

/*  about page*/
.about-section {
    text-align: center;
    margin-top: 100px;
   
}
.about-header {
    font-size: 2rem;
    color: #33006F;
    margin-top: 10px;
    margin-left: 300px;;
    display: flex;
}
.about-section p {
    font-size: 1.1rem;
    color: #333;
    margin-left: 700px;
 margin-bottom:50px;
    text-align: justify;
}
iframe {
    width: 100%;
    height: 300px;
    border: none;
}


/*Blog page*/

.Article{
  justify-content: space-between;
  margin: 5px 500px;
}
.blog-header{
  align-items: center;
  margin-left:90px;
 
}

.date{
  text-decoration: double;
}
article .content {
  line-height: 1.6;
}
.article-sub{
  font-size: 1.8em;
    color: #6d1567;
    margin: 10px 100px;
}
article .content p {
  font-size: 1.1em;
}
.left{
  margin: 60px 0;
}
/* Blog page */
.blog{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
 
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}
.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}
.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}
.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}


/* contact Us page */

main.contact {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(13, 12, 12, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.contact h1,
.contact p {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-size: 1.1em;
  color: #333;
 
  width: 150px;
  margin-right: 20px;
  text-align: left;
  
}
#fname{
  margin-left:65px;
}

input[type=text], input[type="email"], textarea {
  width: 60%;
  max-width: 500px; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  align-self: center;
  width: 50%;
  max-width: 500px;
  background-color: #8A2BE2;
  margin-left: 200px;
}

input[type="submit"]:hover {
  background-color: #EE82EE;
}

textarea {
  resize: vertical;
}


/* Gallery page */
.galleryblock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
 
  margin-top: 90px;
}

.galleryblock div {
  position: relative;
}

.galleryblock img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

aside {
  
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

aside h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li a {
  text-decoration: none;
  color: #333;
}

aside ul li a:hover {
  color: #8A2BE2;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .galleryblock {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .galleryblock {
      grid-template-columns: 1fr;
  }
}
